asttokens==3.0.1
pyparsing==3.3.2
mkl_random==1.3.0
notebook==7.5.4
pydantic==2.12.5
termcolor==3.3.0
packaging==25.0
comm==0.2.3
argon2-cffi-bindings==25.1.0
hpack==4.1.0
jupyter-lsp==2.3.0
typing_extensions==4.15.0
rfc3339_validator==0.1.4
wrapt==2.1.1
importlib_resources==6.5.2
scikit-learn==1.7.2
jupyter_server_terminals==0.5.4
httpcore==1.0.9
rich==14.3.3
idna==3.11
jsonpointer==3.0.0
pandas==2.3.3
MarkupSafe==3.0.3
json5==0.13.0
wcwidth==0.6.0
matplotlib-inline==0.2.1
anyio==4.12.1
nbclient==0.10.4
jupyterlab==4.5.5
hyperframe==6.1.0
tornado==6.5.4
markdown-it-py==4.0.0
annotated-types==0.7.0
PySocks==1.7.1
tzdata==2025.3
rfc3987-syntax==1.1.0
overrides==7.7.0
beautifulsoup4==4.14.3
mistune==3.2.0
executing==2.2.1
jsonschema-specifications==2025.9.1
terminado==0.18.1
absl-py==2.4.0
PyYAML==6.0.3
ptyprocess==0.7.0
google-pasta==0.2.0
decorator==5.2.1
numpy==2.2.6
numpy==2.2.5
Werkzeug==3.1.6
mdurl==0.1.2
grpcio==1.78.0
uri-template==1.3.0
tensorflow==2.20.0
debugpy==1.8.20
tinycss2==1.4.0
kiwisolver==1.4.9
Send2Trash==2.1.0
charset-normalizer==3.4.4
jupyter_client==7.4.9
fastjsonschema==2.21.2
ipython==8.37.0
cycler==0.12.1
traitlets==5.14.3
flatbuffers==25.12.19
psutil==7.2.2
importlib_metadata==8.7.0
cached-property==1.5.2
entrypoints==0.4
contourpy==1.3.2
pytz==2025.2
webencodings==0.5.1
prometheus_client==0.24.1
webcolors==25.10.0
python-dateutil==2.9.0.post0
pip==26.0.1
pexpect==4.9.0
httpx==0.28.1
jupyterlab_server==2.28.0
rpds-py==0.30.0
opt_einsum==3.4.0
cffi==1.17.1
ipykernel==6.29.5
optree==0.19.0
jupyter_server==2.17.0
soupsieve==2.8.3
arrow==1.4.0
keras==3.12.1
babel==2.18.0
bleach==6.3.0
GitPython==3.1.46
zipp==3.23.0
pycparser==2.22
h5py==3.15.1
mkl_fft==2.1.1
parso==0.8.6
nbformat==5.10.4
defusedxml==0.7.1
pickleshare==0.7.5
urllib3==2.6.3
gitdb==4.0.12
pandocfilters==1.5.0
nest_asyncio==1.6.0
h11==0.16.0
libclang==18.1.1
sentry-sdk==2.53.0
certifi==2026.2.25
argon2-cffi==25.1.0
tensorboard-data-server==0.7.2
joblib==1.5.3
wandb==0.25.0
click==8.3.1
requests==2.32.5
widgetsnbextension==4.0.15
namex==0.1.0
fqdn==1.5.1
rfc3986-validator==0.1.1
matplotlib==3.10.8
jupyter_core==5.9.1
scipy==1.15.3
sniffio==1.3.1
Markdown==3.10.2
jupyter==1.1.1
ipywidgets==8.1.8
tensorboard==2.20.0
notebook_shim==0.2.4
jedi==0.19.2
mkl-service==2.5.2
Pygments==2.19.2
tomli==2.4.0
jsonschema==4.26.0
jupyterlab_widgets==3.0.16
h2==4.3.0
backports.zstd==1.3.0
lark==1.3.1
jupyter-console==6.6.3
stack_data==0.6.3
pyzmq==24.0.1
isoduration==20.11.0
referencing==0.37.0
Jinja2==3.1.6
async-lru==2.2.0
nbconvert==7.17.0
ml_dtypes==0.5.4
typing-inspection==0.4.2
exceptiongroup==1.3.1
threadpoolctl==3.6.0
pillow==12.1.1
protobuf==6.33.5
python-json-logger==2.0.7
jupyter-events==0.12.0
jupyterlab_pygments==0.3.0
prompt_toolkit==3.0.52
six==1.17.0
fonttools==4.61.1
pure_eval==0.2.3
astunparse==1.6.3
smmap==5.0.2
pydantic_core==2.41.5
attrs==25.4.0
platformdirs==4.9.2
websocket-client==1.9.0
typing_utils==0.1.0
Brotli==1.2.0
wheel==0.46.3
setuptools==80.10.2
gast==0.7.0
seaborn==0.13.2
